
/* ************************** Header   *************************/

.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-top-image {
    flex:0 1 50%;
    
}

.header-top-text{
    flex:0 1 45%;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    
}

.header-top-text >*{
    margin: 20px 10% 20px 0;
}

.header-bottom-text{ 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-bottom-text h2{
    flex:1;
} 



/* ************************** Content   *************************/



/* ************************** Content Top   *************************/

.content-top{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.content-top > *{
    flex:0 1 20%;
}


/* ************************** Content Column   *************************/

.content-recent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-recent >* {
    flex: 0 1 32%;
}



/* ************************** title   *************************/

.content-recent .title{
    flex:0 1 100%;
}


.content-recent .title2{
     flex:0 1 66%;
 }

 .content-recent .title3{
    flex:0 1 32%;
}
 
/* ************************** testimonials  *************************/


.testimonials{
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between;
}

.testimonials> *{
    flex: 1 1 100%; 
}


 
  

/* ************************** development  *************************/
 
 

.development{
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.tab-header {
    flex: 0 1 50px; 
    display: flex;     
}

.tab-header > * {
    display: flex;
    align-items: center;
}

.tab-content {
    flex: 1 1 auto;
    display: flex; 
    flex-direction: column;
}

  
.tab-button{
    text-align: right;
}

.tab-button a{
    margin: 0 10px 20px 0;
}
  

.content-bottom{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
}

.content-bottom h2{
    flex:1;
}
 


/* ************************** Footer   *************************/

.footer-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column > *{
    flex: 0 1 21%;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    
}

.footer-bottom > :first-child{
    flex:60%;
}

.footer-bottom > :last-child{
    flex:30%;
}

.footer-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 125px;
}

.footer-link{
    display:flex;
    text-align: right;
  
}

.footer-link > *{
    flex: 1;
}

.gallery__item{
    flex: 0 1 60px;
}
 

@media only screen and (max-width: 1200px) {


    .header-top-image {
        flex:0 1 90%;
        
    }

    .header-top-text {
        flex:0 1 90%;
        
    }
    .header-bottom-text,.content-bottom{
        justify-content: center;
        text-align: center;
        padding: 20px 0;
    }
    
    .header-bottom-text > :first-child,
    .content-bottom > :first-child {
        flex:1 1 100%;
        padding:10px 0 20px 0;
        font-size: 1.2rem;
    } 

    .content-top > *{
        flex:0 1 90%;
    }

    .content-recent{ 
        justify-content: center;
    }

    .content-recent >* {
        flex: 0 1 60%;
        text-align: center;
    }

    .content-recent .title2,  .content-recent .title3{
       flex:0 1 90%;
   }
   .content-recent .title3,.development{
    order:1;
}

    .work, {
        flex:0 1 90%;
        margin-bottom: 50px;
    }

    .testi{ 
        margin-bottom: 50px;
    }


    .footer-column,.footer-bottom{
        width: 90%;
        margin: 0 auto;
    }

    .footer-column > *{
        flex: 0 1 100%;
    }


    .footer-bottom > *{
        flex: 1 1 100%;
    }

    .footer-link{  
        justify-content: space-between;
    }

    .footer-link > *{ 
        flex: 1;
    }
 

    
  } 

  @media only screen and (max-width: 600px) {


    .content-recent >* {
        flex: 0 1 90%;
    }
}