
/* ************************** Header   *************************/

.header-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-top-image {
    flex:0 1 50%;
    
}

.header-top-text{
    flex:0 1 45%;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    
}

.header-top-text >*{
    margin: 20px 10% 20px 0;
}

.header-bottom-text{ 
    display: flex;
    align-items: center;

}

.header-bottom-text h2{
    flex:1;
} 



/* ************************** Content   *************************/



/* ************************** Content Top   *************************/

.content-top{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.content-top > *{
    flex:0 1 22%;
}


/* ************************** Content Column   *************************/

.content-recent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-recent >* {
    flex: 0 1 30%;
}



/* ************************** title   *************************/

.content-recent .title{
    flex:0 1 100%;
}


.content-recent .title2{
     flex:0 1 65%;
 }

 .content-recent .title3{
    flex:0 1 30%;
}
 
/* ************************** testimonials  *************************/


.testimonials{
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between;
}

.testimonials> *{
    flex: 1 1 100%; 
}

.testi{
    padding: 20px 40px 0 20px; 
}
 
  

/* ************************** development  *************************/
 
 

.development{
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.tab-header {
    flex: 0 1 50px; 
    display: flex;     
}

.tab-header > * {
    display: flex;
    align-items: center;
}

.tab-content {
    flex: 1 1 auto;
    display: flex; 
    flex-direction: column;
}

  
.tab-button{
    text-align: right;
}

.tab-button a{
    margin: 0 10px 20px 0;
}
  

.content-bottom{
    display: flex; 
    align-items: center;
}

.content-bottom h2{
    flex:1;
}
 


/* ************************** Footer   *************************/

.footer-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column > *{
    flex: 0 1 22%;
}

.footer-bottom {
    display: flex;
}

.footer-bottom h4 {
    flex:1;
}

