 
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
} 

:root{
    --blue: #4691D5;
    --black:  #404040;
    --white: rgb(255, 255, 255);
    --grey:grey;

}

html {
    font-size:12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

body{
    color:#272727;
    background:#EFEFEF;
}

header,footer{
    background: var(--black);
    color: var(--white); 
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


html {
  font-size:16px;
}

h1,h2,h3,h4,a{
    text-transform: uppercase;
}

h1{
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--grey);
}

h2{
    font-size: 1.5rem;
    font-weight: 200;
}

h3{
    font-size: 1.1rem;
    margin: 10px 0;
    font-weight: 400;
}

h4{
    margin: 1px 0;
    font-size: 1rem;
    text-transform: capitalize;
}

 
b{
    color: var(--white);
}

img {max-width:100%;}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: 600;
}

.button-white{
    background: var(--white);
    color: var(--black);
}

.button-blue{
    background: var(--blue);
    color: var(--white);
}

p{
    margin: 0 0 20px 0;
}

/* ************************** header   *************************/
 

header{
    border-image: url(../assets/Border-BG.jpg) 50 repeat;
    border-bottom: 10px solid transparent;
}

.header-top{
    padding: 20px 0;
}

.header-top-text p{
    color: var(--grey);
    font-weight: 500;
    font-size: 1.2rem;
}

.header-bottom-text, .content-bottom{ 
    background: var(--blue);
    width: 100%;
    padding: 20px 20px 20px 40px;
    color:white; 
    position:relative; 

}
 

.header-bottom-text:after, .content-bottom:after{ 
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-top:50px solid var(--blue);
    border-right:50px solid transparent;
    top: 100%;
    left: 0;
}

/* ************************** Content   *************************/

section{
    margin: 50px 0;
}
 
.icon{   
    background: var(--black);
    height: 80px;
    width: 80px;
    margin: 0 auto;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
}

.fas{ 
    font-size: 25px;
    color: var(--white);
}

.content-top b{
    color: var(--black);
}

.section_title{
    background: url(../assets/Border-BG.jpg);
    background-size: 2% auto;  
    text-align: center; 
    color: var(--grey);
    margin: 40px 0;
}

.section_title h2{
    background:#EFEFEF;
    display: inline-block;
    padding: 0 30px;
    font-size: 1rem;
    font-weight: 600;
}

.title2,.title3{
    margin-top: 60px; 
}

.work,.testi{ 
    background: var(--white);
    position:relative;
   
}

.work,.testi,.development{
    box-shadow: 10px 18px 87px -21px rgba(0,0,0,0.75);
}

.work__detail{ 
    margin: 10px 5px 50px 20px ;
}

.testi{
    padding: 20px 40px 40px 20px;
}

.testi1,.testi3{
    margin-bottom: 50px;
}
 
.work:after,.testi:after,.top:hover:after  { 
    content:'';
    position:absolute;
    width:0;
    height:0;
    border-top:40px solid var(--white);
    border-right:40px solid transparent;
    top:100%;
    left: 0;
}

.top {
    padding: 20px;
    position: relative;
    text-align: center; 
}
 

.top:hover{
    background: var(--white);
    cursor: pointer;
}

.top:hover .button{
     display: none;
}

 
 

.tab{
    padding: 0 20px;
    background:rgb(233, 233, 233); 
}

.tab-active{
    margin-right: 10px;
    box-shadow: 10px 10px 50px 0 grey;
} 

.tab-content{
    padding: 20px 5px 0 30px;
   
}

.tab-active,.tab-content,.tab-button {
    background: var(--white);
}



/* ************************** footer   *************************/


footer {
    color: var(--grey);
    padding: 80px 0 40px 0;
}

.footer-column3 ul{
    padding: 0;

}


.footer-column3 li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 2px solid var(--grey);
}
 

.footer-column3 li:last-child{
     border-bottom: none;
}

footer h4{
    color: var(--white);
    margin: 10px 0;
    text-transform: uppercase;
}


 

.gallery__item{
    background: black;
    height: 60px; 
    width: 60px;
}


.copyright {
    padding: 30px 0; 
    background: #272727;
    color:var(--grey);
}

.footer-link i{
    font-size: 2.5rem;
    color:black;
}

.footer-link i:hover{
    color: var(--white);
}

.footer-link  a:hover{
    position: relative;
  }
.footer-link  a[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    position: absolute;
    left:  50%;
    bottom: 140%;
    z-index: 20px;
    background:var(--grey);
    color: var(--white);
  }

.footer-link  a:hover:before {
    content: "";
    width:0;
    height:0;
    border-top:15px solid var(--grey);
    border-right:15px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 110%;
    z-index: 20px;
  }

.gotoTop{
    position: fixed;
    bottom: 10px;
    right: 20px;
    background: var(--black); 
    padding: 8px 10px;
}
.gotoTop i{
    color: var(--grey);
    font-size: 1.6rem;
}


@media only screen and (max-width: 1200px) {
    
    .container{
        width: 95%;
        margin: 0 auto;
    }
    
  }

 